:root {
    --color-background: #f5f5f5;
    --margin-body: 0 auto;
    --width-max: 1440px;
    --width-min: 1136px;
}

html {
    scroll-behavior: smooth;
}

.header {
    max-width: var(--width-min);
    margin: var(--margin-body);
    padding: 32px 0px 32px 0px;
}
.nav-a {
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.logo svg {
    margin-right: 0.5rem;
}
.intro {
    max-width: var(--width-min);
    margin: var(--margin-body);
    padding: 32px 0px 32px 0px;
}

.foto-perfil img {
    width: 368px;
    height: 368px;
    border-radius: 100%;
}
.space {
    margin-bottom: 20px;
}
.sobre {
    padding: 64px 0px 64px 0px;
    background-color: #eaf2fd;
}
.sobre-c {
    max-width: var(--width-min);
    margin: var(--margin-body);
}
.skill {
    padding: 32px 0px 32px 0px;
}
